body {
  background-color: #dee3e2;
}
.App {
  background-color: #116979;
  min-height: 600px;
  width:  600px ;
  margin:  40px auto;
  border-radius: 10px;
}

#to-do-form input{
  background-color: #84a9ac;
  border: 0; 
  width: 350px;
  height: 55px;
  padding: 0 20px; 
  margin: 20px;
  font-size: 18px; 
  border-radius: 5px;
  color: black;
  outline: none;

}

#to-do-form input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

#to-do-form button{
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: 0;
  background-color: #f6d186;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  color: #116979;
  outline: none;
}

#title {
  font-size: 25px;
  text-align: center;
  margin-top: 200px;
  padding-top: 10px;
  color: #f6d186;
}
